<div class="add-product">
  <h1>Add new product</h1>
  <form #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)" class="common-form">
    <input class="form-input" ngModel type="text" name="name" placeholder="Enter Product name">
    <input class="form-input" ngModel type="text" name="price"  placeholder="Enter Product Price">
    <input class="form-input" ngModel type="text" name="category"  placeholder="Enter Product Category">
    <input class="form-input" ngModel type="text" name="color"  placeholder="Enter Product Color">
    <textarea class="form-input" ngModel type="text" name="description" placeholder="Enter Product Description"></textarea>
    <input class="form-input" ngModel type="text" name="image"  placeholder="Enter Image Url">
    <button class="form-button">Add product</button>

  </form>
</div>
