<!-- creation of navbar -->
<nav class="nav">
    <h1 routerLink="/"> E-commerce</h1>
    <div *ngIf="menuType==='default'" class="nav-search">
        <input type="text" name="" id="" placeholder="Search products">
        <button>Search</button>
    </div>
    <!-- if menuType with swich to show wanted menu -->
    <div [ngSwitch]="menuType">
        <ul *ngSwitchCase="'default'">
            <!-- app-routing-> app.component-html -->
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/seller-auth">Seller</a></li>
            <li><a href="">Login</a></li>
            <li><a href="">Cart(0)</a></li>
        </ul>

        <ul *ngSwitchCase="'seller'">
          <!-- app-routing-> app.component-html -->
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/seller-auth">Add Product</a></li>
          <li><a href="">List</a></li>
          <li><a href="">Logout</a></li>
          <li><a href="">Sellername: </a></li>

      </ul>
    </div>

</nav>
